<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="uploadForm">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="image">Upload Images</label>
        <input type="file" id="image" name="images" multiple><br><br>

        <button type="button" id="uploadBtn">Upload</button>
    </form>

    <div id="response"></div>

    <script>
        $('#uploadBtn').on('click', function () {
            var formData = new FormData();
            var title = $('#title').val();
            var files = $('#image')[0].files;

            formData.append('title', title);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            for (let i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }

            $.ajax({
                url: '/submit',  
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $('#response').html('<p style="color:green;">' + res.message + '</p>');
                },
                error: function (xhr) {
                    $('#response').html('<p style="color:red;">Upload failed: ' + xhr.responseText + '</p>');
                }
            });
        });
    </script>
</body>
</html>
